@page "/genres"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Akashic8.Domain
@using Akashic8.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Akashic8.Data.Akashic8Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="genres/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Genre">
    <PropertyColumn Property="genre => genre.Name" />
    <PropertyColumn Property="genre => genre.DateCreated" />
    <PropertyColumn Property="genre => genre.DateUpdated" />
    <PropertyColumn Property="genre => genre.CreatedBy" />
    <PropertyColumn Property="genre => genre.UpdatedBy" />

    <TemplateColumn Context="genre">
        <a href="@($"genres/edit?id={genre.Id}")">Edit</a> |
        <a href="@($"genres/details?id={genre.Id}")">Details</a> |
        <a href="@($"genres/delete?id={genre.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Akashic8Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
